@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(16, 24, 40);
  --secondary: rgb(17, 156, 60);
}

@font-face {
  font-family: "archia";
  src: url('./assets/archia-regular-webfont.woff');
  src: url('./assets/archia-regular-webfont.woff') format('woff');
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
